$nextbnbFont: 'Source Sans Pro', sans-serif;;
$nextbnbGreen: #008489;
$nextbnbRed: #FF585D;
$nextbnbWhite: #FFF;
$nextbnbGray: #484848;

.searchResults{
  padding: 3%;
  border-top: 1px solid lightgray;
  width: 60vw;
  min-height: 100vh;
}

.searchHeader {
  margin-left: 7.5%;
}

.results {
  margin-left: 3%;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  width: 100%;
  height: 100%;
}

.resultContainer {
  // border: 2px solid black;
  margin-right: 3%;
  list-style-type: none;
  height: 40vh;
  width: 45%;
  & img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
  & p {
    padding: 0;
  }
}

.resultLink {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.currentName {
  text-decoration: none !important;
  margin-top: 1px;
  font-family: $nextbnbFont;
  font-weight: 700;
  font-size: 1.2em;
  color: $nextbnbGray;
}

.currentDetails {
  text-decoration: none !important;
  font-family: $nextbnbFont;
  color: $nextbnbGray;
  font-weight: 400;
  font-size: 0.9em;
  margin-top: -20px;
}
