@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap');

$nextbnbFont: 'Source Sans Pro', sans-serif;;
$nextbnbGreen: #008489;
$nextbnbRed: #FF585D;
$nextbnbWhite: #FFF;
$nextbnbGray: #484848;


html {
  padding: 0;
  margin: 0;
  max-width: 1600px;
  overflow: scroll;
}

.authform {
  margin-left: 30%;
  margin-top: 7%;
}

.btn.btn-primary {
  color: $nextbnbWhite;
  background: $nextbnbRed;
  border: none;
  &:hover {
    background: $nextbnbGreen;
  }
}
.navbar {
  width: 100vw;
  margin-right: -5%;
  height: 5em;
  z-index: 1;
  border-bottom: 1px solid lightgray;
  // border: 5px solid black;
}

.logo {
  margin: 0.2% 0 0 7%;
  text-align: center;
  color: $nextbnbRed;
  font-size: 2em;
  &:hover {
    color: $nextbnbGreen;
  }
}

.carousel-control-prev, .carousel-control-next {
  display: none;
}

.navbar-nav {
  // border: 2px solid black;
  font-size: 0.90em;
  font-weight: 600;
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-right: 8%;
  margin-top: 0.1%;
}

.navbar-light .navbar-nav .nav-link {
  font-family: $nextbnbFont;
  color: black;
  border-radius: 50px;
  text-align: center;
  width: 10em;
  height: 3em;
  line-height: 1.8em;
  &:hover {
    color: $nextbnbRed;
    background-color: rgba(237, 240, 242, 0.8);
  }
}

.container {
  margin: 0;
  padding: 0;
}
